<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylee.css" />
    <title>Title</title>
  </head>
  <body>
    <div class="sidebar">
      <form
        action="https://www.google.com/search"
        method="get"
        class="search-bar"
      >
        <input type="text" placeholder="Search..." />
      </form>
      <ul>
        <li>
          <a href="/" style="color: white; font-family: Alef"
            ><i class="fas fa-home"></i>home</a
          >
        </li>

        <li>
          <a href="#" style="color: white; font-family: Alef"
            ><i style="margin-right: 20px" class="fas fa-heart"></i>favorite</a
          >
        </li>
      </ul>

      <div style="position: fixed; bottom: 0">
        <hr width="250px" style="margin-right: 10px; margin-left: 20px" />
        <ul>
          <li>
            <a
              href="#"
              style="color: white; font-family: Alef; font-size: large"
              ><img
                class="profile-details"
                style="
                  border-radius: 50%;
                  margin-right: 20px;
                  height: 30px;
                  width: 30px;
                "
                src="/man.jpeg"
              />nasser</a
            >
          </li>

          <li>
            <a href="playerinitial.html" style="color: white; font-family: Alef"
              ><i class="fas fa-sign-out-alt"></i>logout</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      style="
        margin-left: 300px;
        border-radius: 15px;
        width: 1120px;
        height: 110px;
        background-color: #0c0808;
        padding: 10px;
      "
    >
      <img
        style="
          float: left;
          position: relative;
          left: 0;
          width: 100px;
          height: 100px;
        "
        src="{{data.response[0].player.photo}}"
      />
      <p
        class="col-3"
        style="font-size: 15px; font-weight: bold; color: #f1ecec; margin: 0"
      >
        name: {{data.response[0].player.name}}
      </p>
      <p
        class="col-3"
        style="
          padding: 15px;
          font-size: 15px;
          font-weight: bold;
          color: #f1ecec;
          margin: 0;
        "
      >
        age:{{data.response[0].player.age}}
      </p>
      <p
        class="col-3"
        style="font-size: 15px; font-weight: bold; color: #f1ecec; margin: 0"
      >
        height: {{data.response[0].player.height}}
      </p>
      <button
        style="
          background-color: #865555;
          border-radius: 10px;
          height: 40px;
          width: 120px;
          position: relative;
          left: 80%;
          bottom: 60%;
        "
      >
        <i class="fas fa-heart" style="margin-right: 5px"></i>add to favorite
      </button>
    </div>
    <div
      style="
        margin-left: 300px;
        border-radius: 15px;
        width: 1120px;
        height: 40px;
        background: linear-gradient(to bottom, #385e8a, #385e8a);
        padding: 10px;
      "
    >
      <table>
        <tr>
          <td style="padding-left: 10px; padding-right: 70px">club</td>
          <td style="padding-right: 100px">matches</td>
          <td style="padding-right: 100px">goals</td>
          <td style="padding-right: 100px">assists</td>
          <td style="padding-right: 100px">passes</td>
          <td style="padding-right: 100px">yellow</td>
          <td style="padding-right: 100px">red</td>
          <td style="padding-right: 100px">League</td>
        </tr>
      </table>
    </div>
    <div class="main">
      {%for stat in data.response[0].statistics%}
      <div
        style="
          width: 1120px;
          height: 60px;
          background: linear-gradient(to bottom, #618ac8, #070b11);
          padding: 10px;
          border-radius: 10px;
        "
      >
        <table>
          <tr>
            <td style="padding-right: 40px">
              <img
                style="width: 50px; height: 50px; margin-right: 50px"
                src="{{stat.league.logo}}"
              />
            </td>

            <td style="padding-right: 110px">
              {{stat.games.appearences if stat.games.appearences else "0"}}
            </td>
            <td style="padding-right: 120px">
              {{stat.goals.conceded if stat.goals.conceded else "0"}}
            </td>
            <td style="padding-right: 120px">
              {{stat.goals.assists if stat.goals.assists else "0"}}
            </td>
            <td style="padding-right: 124px">
              {{stat.passes.total if tat.passes.total else "0"}}
            </td>
            <td style="padding-right: 114px">
              {{stat.cards.yellow if stat.cards.yellow else "0"}}
            </td>
            <td style="padding-right: 124px">
              {{stat.cards.red if stat.cards.red else "0"}}
            </td>
            <td style="padding-right: 110px">
              {{stat.league.name if stat.league.name else "0"}}
            </td>
          </tr>
        </table>
      </div>
      {%endfor%}
    </div>
  </body>
</html>
