<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="stylee.css">
    <title>Title</title>
</head>
<body>
<div class="sidebar">
    <form
            action="https://www.google.com/search"
            method="get"
            class="search-bar"
    >
        <input type="text" placeholder="Search..." />
        <!--        <button type="submit"><img src="search.png"> </button>-->
    </form>
    <ul>
        <li>
            <a href="homeInitial.html" style="color: white; font-family: Alef"
            ><i class="fas fa-home"></i>home</a
            >
        </li>

        <li>
            <a href="#" style="color: white; font-family: Alef"
            ><i style="margin-right: 20px" class="fas fa-heart"></i>favorite</a
            >
        </li>
    </ul>

    <div style="position: fixed; bottom: 0">
        <hr width="250px" style="margin-right: 10px; margin-left: 20px" />
        <ul>
            <li>
                <a href="login.html" style="color: white; font-family: Alef"
                ><i class="fas fa-right-to-bracket"></i>log in</a
                >
            </li>
        </ul>
    </div>
</div>
<div style="margin-left:300px;border-radius:15px;width:1120px;height:110px; background-color: #0c0808; padding: 10px;">
    <img style=" float: left;position: relative; left:0; width: 100px; height: 100px;" src="saka.png">
    <p class="col-3" style="font-size: 15px; font-weight: bold; color: #f1ecec; margin: 0;">name:</p>
    <p class="col-3" style="padding: 15px;font-size: 15px; font-weight: bold; color: #f1ecec; margin: 0;">age:</p>
    <p class="col-3" style="font-size: 15px; font-weight: bold; color: #f1ecec; margin: 0;">height:</p>
    <button style="background-color:#865555;border-radius:10px;height:40px;width:120px;position:relative;left: 80%;bottom: 60%"><i class="fas fa-heart"style="margin-right: 5px"></i>add to favorite</button>

</div>
<div style="margin-left:300px;border-radius:15px;width:1120px;height:40px; background: linear-gradient(to bottom, #385e8a, #385E8A); padding: 10px;">
    <table>
        <tr>
            <td style="padding-left:10px;padding-right: 70px;">club</td>
            <td style="padding-right: 100px;">match</td>
            <td style="padding-right: 100px;">goal</td>
            <td style="padding-right: 100px;">wins</td>
            <td style="padding-right: 100px;">lows</td>
            <td style="padding-right: 100px;">draws</td>
            <td style="padding-right: 100px;">ach</td>
        </tr>
    </table>


</div>
</div>
<div class="main">

    <div style="width:1120px;height:60px; background: linear-gradient(
    to bottom,
    #618AC8,
    #070B11
  ); padding: 10px;
border-radius: 10px">

        <table>
            <tr>
                <td style="padding-right: 40px"> <img style="width: 50px; height: 50px; margin-right: 50px" src="arsenal.png"></td>


                <td style="padding-right: 110px;">54</td>
                <td style="padding-right: 110px;">4</td>
                <td style="padding-right: 110px;">56</td>
                <td style="padding-right: 110px;">53</td>
                <td style="padding-right: 110px;">34</td>
                <td style="padding-right: 110px;">54</td>
            </tr>
        </table>

    </div>


    <div style="width:1120px;height:60px; background: linear-gradient(
    to bottom,
    #618AC8,
    #070B11
  ); padding: 10px;
border-radius: 10px">

        <table>
            <tr>
                <td style="padding-right: 40px"> <img style="width: 50px; height: 50px; margin-right: 50px" src="arsenal.png"></td>


                <td style="padding-right: 110px;">54</td>
                <td style="padding-right: 110px;">4</td>
                <td style="padding-right: 110px;">56</td>
                <td style="padding-right: 110px;">53</td>
                <td style="padding-right: 110px;">34</td>
                <td style="padding-right: 110px;">54</td>
            </tr>
        </table>

    </div>


    <div style="width:1120px;height:60px; background: linear-gradient(
    to bottom,
    #618AC8,
    #070B11
  ); padding: 10px;
border-radius: 10px">

        <table>
            <tr>
                <td style="padding-right: 40px"> <img style="width: 50px; height: 50px; margin-right: 50px" src="arsenal.png"></td>


                <td style="padding-right: 110px;">54</td>
                <td style="padding-right: 110px;">4</td>
                <td style="padding-right: 110px;">56</td>
                <td style="padding-right: 110px;">53</td>
                <td style="padding-right: 110px;">34</td>
                <td style="padding-right: 110px;">54</td>
            </tr>
        </table>

    </div>


    <div style="width:1120px;height:60px; background: linear-gradient(
    to bottom,
    #618AC8,
    #070B11
  ); padding: 10px;
border-radius: 10px">

        <table>
            <tr>
                <td style="padding-right: 40px"> <img style="width: 50px; height: 50px; margin-right: 50px" src="arsenal.png"></td>


                <td style="padding-right: 110px;">54</td>
                <td style="padding-right: 110px;">4</td>
                <td style="padding-right: 110px;">56</td>
                <td style="padding-right: 110px;">53</td>
                <td style="padding-right: 110px;">34</td>
                <td style="padding-right: 110px;">54</td>
            </tr>
        </table>

    </div>

</div>



</body>
</html>